:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primaryColor: #20C0C8;
  --secondaryColor: #404954;
  --greyColor: #F7F8FA;
  --grey2Color: #BDC0C9;
  --whiteColor: #FFFFFF;
  
}

body {
  background-color: var(--greyColor);
  color: var(--grey2Color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: var(--secondaryColor);
  font-size: 2.8em;
  font-weight: bold;
  line-height: 1.1;
}


/****************** widgets ****************/
.custom-card{
  background-color: var(--whiteColor);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  line-height: 10px;
}

.custom-card h5{
  color: var(--secondaryColor);
}

.custom-card .small-cont{
  border: solid;
  border-color: var(--grey2Color);
  border-width: 0.2px;
  border-radius: 4px;
}

.task-conatiner{
  background-color: var(--greyColor);
  padding: 10px 0px 10px 18px;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  line-height: 8px;
}

.task-conatiner  h6{
  color: var(--secondaryColor);
  font-size: 18px;
}

.icon-btn{
  height: 60px;
  width: 60px;
}



/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  border-style: solid;
  border-color: var(--grey2Color);
  border-width: 8px 0px 0px 0px;
  background: white;
  padding:  0px 20px 20px 20px; 
  border-radius: 1px;
  max-width: 500px;
  width: 100%;
  position: relative;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px); /* Adjust to desired exit effect */
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}







@media (prefers-color-scheme: light) {
  :root {
      /* Colors */
  --primaryColor: #20C0C8;
  --secondaryColor: #404954;
  --greyColor: #F7F8FA;
  --grey2Color: #BDC0C9;
  --whiteColor: #FFFFFF;
    background-color: #ffffff;
  }
}
