:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primaryColor: #20C0C8;
  --secondaryColor: #404954;
  --greyColor: #F7F8FA;
  --grey2Color: #BDC0C9;
  --whiteColor: #FFFFFF;
  --dangerColor: #E14C7E;
  
}

body {
  background-color: var(--greyColor);
  color: var(--grey2Color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.text-green {
  color: var(--primaryColor);
}

.auth-box{
  background-color: var(--primaryColor);
  border-radius: 10px;
  height: 97vh;
}

.container-btn{
  background-color: #32c9d1;
  padding: 8px 0px 2px 18px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.container-btn:hover{
  cursor: pointer;
  background-color: #2ed6df;
  padding: 8px 0px 2px 18px;
  border-radius: 10px;
}

/* taskconatiner setting */
.task-container {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation on hover */
}

.task-container:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Emphasize shadow */
}


.task-container:hover .menu-btn {
  opacity: 1; /* Fully visible on hover */
  transform: scale(1); /* Normal size on hover */
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center-align text */
  font-size: 18px; /* Optional: adjust font size */
}

.btn-container {
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-container:hover {
  cursor: pointer;

  background-color: #f8f9fa; /* Light background for visibility */
  border-radius: 10px; /* Optional: Rounded corners */
  padding: 20px; /* Optional: Padding for spacing */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}


/* Autrh page**/
/* Transition Styles */
.form-container,
.box-container {
  transition: all 0.5s ease; /* Smooth transition */
}

.box-container {

  background-color: var(--greyColor); /* Add a background for distinction */
}

/* Form Container Initial Style */
.form-container {
  z-index: 1; 
  left: 0; /* Start on the left */
  background-color: var(--greyColor); /* Add a background for distinction */
}

/* When switched */
.form-right {
  transform: translateX(200%); /* Move to the right */
}

.box-left {
  z-index: 0;
  transform: translateX(-50%); /* Move to the left */
}


/* AuthAnimation.css */




/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 25px;
  height: 25px;
  /* padding: 10px 20px; */
  cursor: pointer;
  border: 5px none #ccc;
  border-radius: 20px;
  background-color: var(--greyColor);
}

.dropdown-menus {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 100px;
  background-color: #fff;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
  /* background-color: black; */
  border: 1px solid #e9e9e9;
  padding: 10px;
  border-radius: 0px 0px 0px 20px;
}

.dropdown-item {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.dropdown-item:hover {
  padding: 10px 10px 10px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

h1 {
  color: var(--secondaryColor);
  font-size: 2.8em;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  color: var(--secondaryColor);
  font-weight: bold;
  line-height: 1.1;
}

.active-link { color: white; font-size: 18px; font-weight: 400;}
.link { color: var(--secondDarkColor); font-size: 18px; font-weight: 400; }
.active-li { font-size: 18px; font-weight: 400; background-color: var(--whiteColor); padding: 12px 12px 12px 12px; border-radius: 4px 0px 0px 4px; a { color: var(--secondaryColor); font-weight: 500; }}
li{ padding: 12px 12px 12px 0px; border-radius: 4px; transition: padding 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
li:hover{ background-color: var(--hoverColor); padding: 12px 12px 12px 12px; border-radius: 4px; a { color: rgb(167, 167, 167); }}
li > a {text-decoration: none;}
.icon-link{ height: auto; width: 14%;}

.primaryButton { text-decoration: none;  background-color: var(--primaryColor); color: var(--whiteColor); border-style: none; font-size: 18px; border-radius: 8px; padding: 10px 22px 10px 22px; cursor: pointer; transition: background-color 0.8s ease-out, padding 0.3s ease-out;  }
.primaryButton:hover { background-color: #19abb3; color: white }


.secondaryButton { text-decoration: none;  background-color: var(--secondaryColor); color: var(--whiteColor); border-style: none; font-size: 18px; border-radius: 8px; padding: 10px 22px 10px 22px; cursor: pointer; transition: background-color 0.8s ease-out, padding 0.3s ease-out;  }
.secondaryButton:hover { background-color: #626a74; color: white }

.dangerButton { text-decoration: none;  background-color: var(--dangerColor); color: var(--whiteColor); border-style: none; font-size: 18px; border-radius: 8px; padding: 10px 22px 10px 22px; cursor: pointer; transition: background-color 0.8s ease-out, padding 0.3s ease-out;  }
.dangerButton:hover { background-color: #ff74a3; color: white }


.add-container {
  border-style: dashed;
  border-radius: 10px;
  border-color: var(--grey2Color);
  border-width: 2px;
  padding: 4px;
}


/****************** widgets ****************/
.custom-card{
  background-color: var(--whiteColor);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  line-height: 10px;
}

.custom-card h5{
  color: var(--secondaryColor);
}

.custom-card .small-cont{
  border: solid;
  border-color: var(--grey2Color);
  border-width: 0.2px;
  border-radius: 4px;
}

.task-container{
  background-color: var(--greyColor);
  padding: 10px 0px 10px 18px;
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  line-height: 8px;
}

.task-container  h6{
  color: var(--secondaryColor);
  font-size: 18px;
}

.icon-btn{
  height: 60px;
  width: 60px;
}

.input-danger-text {  border-style: solid;  border-radius: 6px;  padding: 10px 0px 10px 10px; box-shadow: 0 0 0 1.5px var(--dangerColor); }
.input-danger-text:focus {  outline: none;  box-shadow: 0 0 0 2.5px var(--dangerColor);}


.input-text {  border-style: solid;  border-radius: 6px;  padding: 10px 0px 10px 10px; }
.input-text:focus {  outline: none;  box-shadow: 0 0 0 1px var(--primaryColor);}
.input-text::placeholder {color: var(--grey2Color);}

.has-search .form-control {padding-left: 3.375rem;}

.input-secondary-text {  border-style: none;  border-radius: 70px;  padding: 14px 0px 18px 10px; background-color: #F0F1F5; }
.input-secondary-text:focus {  outline: none;  box-shadow: 0 0 0 1px var(--darkColor); background-color: #F0F1F5;}
.input-secondary-text::placeholder {color: var(--grey2Color);}

.has-search .form-control-feedback { position: absolute; z-index: 3; display: block; width: 2.8rem; height: 2rem; line-height: 2.8rem; text-align: center; pointer-events: none; padding-left: 20px; color: #aaa;}

.notif
{
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  padding: 20px;
  background-color: white;
  width: 450px;
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 20px; 
  right: 20px; 
}




/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
   border-style: solid;
 /* border-color: var(--grey2Color);*/
 border-color: white;
  /* border-width: 8px 0px 0px 0px;  */
  background: white;
  padding:  0px 20px 20px 20px; 
  border-radius: 14px; 
  /* max-width: 500px; */
  width: 100%;
  position: relative;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px); /* Adjust to desired exit effect */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--primaryColor) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}


.loader-btn {
  width: 32px;
  height: 32px;
  border: 3px solid;
  border-color: var(--grey2Color) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







@media (prefers-color-scheme: light) {
  :root {
      /* Colors */
  --primaryColor: #20C0C8;
  --secondaryColor: #404954;
  --greyColor: #F7F8FA;
  --grey2Color: #BDC0C9;
  --whiteColor: #FFFFFF;
    background-color: #ffffff;
  }
}
